@model BankAccount.ViewModel.UserViewModel

<div>
    <h4>Your Details are below. Please note your account number</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

    </dl>
</div>
<div class="col-md-offset-0">
    <p>
        @Html.ActionLink("Edit this account", "Edit", new { id = Model.UserID }, new { @class = "btn btn-primary" })
    </p>
</div>

<div>
    <p><a href="https://localhost:44378/users/CreateAccount" class="btn btn-primary">Create Another Account</a></p>
</div>

<div>
    <p><a href="https://localhost:44378/users/Index" class="btn-link">Click here to view all users &raquo;</a></p>
</div>